<html>
    <head>
        <title>OnEIMS</title>
        <link rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <a href="{% url 'index' %}"> Home</a>
            <a href="{% url 'registration' %}">Register</a>
            <a href="{% url 'user_login' %}">Login</a>
            <a href="{% url 'user_logout' %}">Logout</a>

            <h1> This is my homepage</h1>
            <p>A home of learning</p>
            <div>
                {% block content %}


                {% endblock %}     
            </div>
        </div>
    </body>
</html>